[run]
branch = True
source = ..
omit =
    ../lib/pyswitch/hardware/*
    ../lib/pymidibridge/*
    ../lib/functools.py
    test/test-examples/*
    test/*

[report]
show_missing = True
include_namespace_packages = True

[html]
directory = report
skip_empty = True
